
   
   img {
        display: block;
        position: left;
        max-width: 50%;
        padding: 20px;
        margin: auto;
        mix-blend-mode: color-dodge;
        transition: all 1s ease;
     }
     img:hover {
        mix-blend-mode: normal;
    }


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(60, 36, 61)
}

body {
        background-color: #6b9092;
        max-width: 50%;
        container: 50%;
        margin: auto;
        mix-blend-mode: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    



    h2:hover{
       color:red;
       color:aqua 
    }

.hide {
    display: none;
  }
  

  
